<div class="nobel-filter-container">
  <div class="group-container-label">Sort on:</div>
  <div class="sort-group">
    <app-sort-button class="col-4 sort-component" (emitter)="filterEventHandler($event)" [selected]='filterInputs.sortOn' [data]='allFilters.sortOn.born'></app-sort-button>
    <app-sort-button class="col-4 sort-component" (emitter)="filterEventHandler($event)" [selected]='filterInputs.sortOn' [data]='allFilters.sortOn.year'></app-sort-button>
    <app-sort-button class="col-4 sort-component" (emitter)="filterEventHandler($event)" [selected]='filterInputs.sortOn' [data]='allFilters.sortOn.count'></app-sort-button>
  </div>

  <app-button-group (emitter)="filterEventHandler($event)" [data]='allFilters.area'></app-button-group>
</div>
