.prize {
    color: grey;
    margin-bottom: 5px;

    .year-category {
        font-size: 12px;

        .year {
        }
        .category {
        }
    }

    .motivation {
        font-size: 12px;
        font-style: italic;
    }
}
